* {
    text-align: center;
/*    border: 1px solid red; */
}

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Indie+Flower&family=Tagesschrift&display=swap');

:root{
    --heading-font: 'Indie Flower', 'Tagesschrift';
    --paragraph-font: 'Google Sans', Arial, sans-serif;
}
header {
    background-color: white;
    color: black;
    font-family: var(--heading-font);
    display: grid;
    grid-template-columns: 250px 1fr;
}

.home-title{
    font-family: var(--heading-font);
    font-size: 4em;
}

body {
    background-color: white;
    color: black;
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0 0 15px 0;
}

/* #content {
    background-color: #4f5344;
    max-width: 1600px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 25px;
    margin-bottom: 100px;
    padding: 40px;
    font-family: var(--paragraph-font);
} */

.logo{
    margin: 20px;
    padding-top: 20px;
    width: 160px;
}

nav {
    padding: 75px;
    display: flex;
    justify-content: space-around;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav a {
    padding: 15px;
    color: #02077f;
    background-color:gainsboro;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #02077f;
}

a:hover {
    color: #727599;
    background-color: whitesmoke;
}

#hero-img{
    width: 100%;
}

#hero{
    background-color: white;
    padding-bottom: 15px;
    display: grid;
    grid-area: 1fr 3fr 1fr / 1fr 1fr;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    order: 0;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    color: white;
}

#hero-msg h4{
    color: white;
}

.home-grid{
    background-color: white;
    display: grid;
    grid-template-rows: 2fr 6fr 2fr 2fr 1fr 5fr 1fr 2fr 2fr;
    grid-template-columns: repeat(10, 1fr);
}


.icon{
    margin-top: 25px;
    width: 80px;
    height: 80px;
}

.card-img{
    width: 100%;
    height: 55%;
    border-radius: 25px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains{
    width: 100%;
    height: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg{
    padding: 15px;
    font-size: 1.5em;
    grid-column: 6/10;
    grid-row: 6/7;
    background-color: #4f5344;
    box-shadow: 5px 5px 10px #625220;
    color: white;
}

.msg p{
    font-size: 0.8rem;
}

.msg a{
    color: white;
   background-color: #C2B280; 
   border-radius: 10px;
}

#background {
    background-color: #C2B280;
    grid-column: 1/11;
    grid-row: 4/9;
}

.rivers-card{
    grid-row: 2/3;
    grid-column: 2/4;
}

.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}



.book, .join{
    background-color: gainsboro;
    color: #02077f;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px; 

}

.book:hover, .join:hover{
    background-color: whitesmoke;
    color: #727599;
}

footer{
   background-color: #4f5344; 
   color: white;
   padding: 25px 50px;
   margin-top: 150px; 
   display: flex;
   justify-content: space-around;
   align-items: center;
}

footer p{
    font-size: 1.2em;
}

footer a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

footer a:hover{
    background-color: #C2B280;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: underline;
}

.social a:hover{
    background-color: #4f5344;
    text-decoration: none;
    border: 0;
    opacity: .6;
    transform: scale(1.1);
}
.social-icon {
    border-radius: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}