
body {
    background-color: #bf808b;
}
header {
    padding: 50px;
    background-color: pink;
}
li {
    display: inline;
    text-align: center;
    margin: 7%;
    padding: 2%;
    background-color: red;
    color: white;
    border-radius: 100px;
    font-family: Papyrus;
}

li:hover {
    opacity: .6;
    transform: scale(1.1);
}

main {
  position: relative;
  justify-self: center;
  width: 500px;
  padding: 20%;
  padding-top: 0%;
  display: grid;
  grid-area: repeat(10, 10%), 100%;
  background-color: pink;
}

main img {
  grid-row: 1/4;
  grid-column: 1/2;
  width: 100%;
}

main h1 {
  grid-row: 2/3;
  grid-column: 1/2;
  color: white;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 2px 2px 4px pink;
  z-index: 1;
  text-align: center;
}

h2 {
    font-family: Lucida Handwriting;
    text-align: center;
    border: outset #ff2979 5px;
    border-radius: 10px;
    background-color: #ff4994;
}

section {
    border: inset 3px #ff4040;
    margin: 20px;
    padding: 10px;
    border-radius: 25px;
}
footer {
    padding: 25px;
    text-align: center;
    font-family: Courier New;
    font-weight: bold;
    font-size: 2em;
    color: white;
}
