
body {
    background-color: #e0dcd4;
}

header {
    height: 50px;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #fffff9;
    border-radius: 15px;
}

#logo_link {
    font-family: indie flower;
    grid-column: 1/2;
    align-self: center;
    padding: 0px 10%;
    color: #556073;
    text-decoration: none;
}

#logo_link:hover {
    text-decoration: none;
    color: #95a0b3;
}

header ul {
    display: flex;
    justify-content: space-around;
    align-content: center;
    list-style-type: none;
    grid-column: 2/3;
    width: 100%;
}

.header_link {
    padding: 10px 20px;
    text-decoration: none;
    color: #556073;
    border: solid 1px #fffff9;
}

.header_link:hover {
    padding: 10px 20px;
    text-decoration: none;
    color: #95a0b3;
}

#hero {
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 50px;
    border-bottom: solid 1px #cdcac7;
}

#hero h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: dm serif text;
    align-self: center;
    font-size: 3em;
}

#hero p {
    grid-column: 1/2;
    grid-row: 2/3;
}

#hero_img {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 60%;
    justify-self: center;
    align-self: center;
    border-radius: 50px;
    border: solid 3px #cdcac7;
    transition: transform .5s;
}

#hero_img:hover {
    opacity: 1;
    transform: scale(1.05);
}

#columns {
    display: grid;
    grid-template-columns: 12.5% repeat(3, 25%) 12.5%;
}

#wwr {
    grid-column: 2/3;
    padding: 0 20px;
    justify-items: center;
    text-align: center;
}

#wwr img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: solid 2px #cdcac7;
    transition: transform .5s;
}

#wwr img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

#ice {
    grid-column: 3/4;
    padding: 0 20px;
    justify-items: center;
    text-align: center;
}

#ice img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: solid 2px #cdcac7;
    transition: transform .5s;
}

#ice img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

#three {
    grid-column: 4/5;
    padding: 0 20px;
    justify-items: center;
    text-align: center;
}

#three img {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    border: solid 2px #cdcac7;
    transition: transform .5s;
}

#three img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}

#about_me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5% 10% 0 10%;
    border-bottom: solid 1px #cdcac7;
    padding: 50px 0;
}

#about_me h2 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#about_me p {
    grid-column: 1/2;
    grid-row: 2/3;
}

#abtme_img {
    grid-column: 2/3;
    grid-row: 1/3;
    width: 70%;
    justify-self: center;
    align-self: center;
} 

#contact {
    text-align: center;
    margin: 5%;
}

footer {
    height: 150px;
    display: grid;
    grid-template-columns: 30% repeat(4, 10%) 30%;
    border-top: solid 1px #cdcac7;
    border-radius: 100px;
    padding-top: 30px;
}


footer nav{
    grid-column: 2/6;
    grid-row: 1/2;
}

footer ul {
    display: flex;
    justify-self: center;
    justify-content: space-around;
    align-content: center;
    list-style-type: none;
    width: 100%;
}

.footer_link {
    padding: 10px 20px;
    text-decoration: none;
    color: #556073;
}

.footer_link:hover {
    padding: 10px 20px;
    text-decoration: none;
    color: #95a0b3;
}

footer p {
    grid-row: 2/3;
    grid-column: 3/5;
    font-size: x-small;
    text-align: center;
    color: #556073;
}